{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}

	<div>
		<h1>歡迎光臨，請輸入信箱密碼</h1>
		<div>
			<form method="GET" action="/">
				<span>登入系統</span>

				<label for="email">信箱</label>
    			<input type="text" id="email" name="email" placeholder="xxx@abc.com" required>

				<label for="password">密碼</label>
    			<input type="password" id="pwd" name="pwd" required>

				<input type="checkbox" id="agree" name="agree" required>
    			<label for="agree">同意條款</label>
			</form>
			
		</div>
    	<a href="{{ url_for('login_page') }}">登入</a>
	</div>
	

{% endblock %}