{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}

	<div class="formBlock">
		<h1>歡迎光臨，請輸入信箱密碼</h1>
		<form id="loginForm" method="GET" action="/">
			<h3 class="loginText">登入系統</h3>
			<div class="label">
				<label for="email">信箱</label>
    			<input type="text" id="email" name="email" placeholder="xxx@abc.com">
			</div>

			<div class="label">
				<label for="password">密碼</label>
				<input type="password" id="pwd" name="pwd">
			</div>
				
			<div class="label">
				<input type="checkbox" id="agree" name="agree">
				<label for="agree">同意條款</label>
			</div>

            <button class="loginBtn" type="submit">登入</button>
		</form>
			
	</div>
	
	

{% endblock %}