* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.formBlock {
    margin: 10%;
    border: solid 1px rgba(77, 76, 76, 0.8);
}

h1 {
    font-size: 1.8rem;
    background-color: rgba(9, 9, 103, 0.9);
    color: white;
    text-align: center;
    padding: 15px 50px;
}

h3 {
    margin: 20px 10px 10px 10px;
    font-size: 1.3rem;
}

form {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelBlock {
    margin: 5px;
}

label {
    font-size: 1.3rem;
    margin: 5px;
}

input {
    padding: 5px;
    font-size: 1rem;
}

.loginBtn, .hotelBtn {
    margin: 10px 10px 20px 10px;
    padding: 5px 20px;
    background-color: rgba(77, 76, 76, 0.6);
    color:aliceblue;
    border: solid 2px rgba(77, 76, 76, 0.6);
    
    border-radius: 5px;
}

.loginBtn:hover, .hotelBtn:hover {
    background-color: rgba(77, 76, 76, 0.9);
    border: solid 2px rgba(77, 76, 76, 0.9);
    
}


/* Medium screen size */
@media (min-width: 600px) and (max-width: 1199px) {
    h1 {
        font-size: 1.7rem;
    }

    h3, label {
        font-size: 1.2rem;
    }

    input {
        font-size: 1.1rem;
    }
}



/* Small screen size */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    h3, label {
        font-size: 1.1rem;
    }

    input {
        font-size: 0.9rem;
    }
}

